<div class="container d-flex justify-content-between">
    <div class="about font-weight-bold">Шуруев Андрей</div>
    <div class="base">
        <a href="">
            <img src="https://avatars.mds.yandex.net/i?id=5344efc181a12d8376947e4881825bd49cca0df3-9035616-images-thumbs&n=13" alt="vk" class="icons" />
        </a>

        <a href="">
            <img src="https://www.pinclipart.com/picdir/middle/64-649167_the-pairings-twitter-icon-rounded-square-clipart.png" alt="fasbook" class="icons" />
        </a>
        <a href="">
            <img src="https://fikiwiki.com/uploads/posts/2022-02/1645006089_10-fikiwiki-com-p-kartinki-feisbuk-12.jpg" alt="twiitter" class="icons" />
        </a>
    </div>
</div>