
<div class="container">
    <div class="navbar-brand d-flex align-items-center">
        <img src="http://krasnopole.ru/netcat_files/338/549/IMG_9242_41__Kopirovat__.jpg" width="100" height="100" alt="" class="plank img-fluid">
        <a href="#" class="text-danger" style="text-decoration: none;">
            <p class="amogus">Пельменная</p>
        </a>
    </div>
    <button type="button" class="Atomic" id="toastbtn">Добавить карточку</button>
</div>